{% extends "navbar.html" %}


{% block content %}
<div class="full-vwh background-enhancer center">
  <div class="padded-container">

<br>
<br>
<br>
    <form  action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">

      <div class="form-group">
          <label id="upload-title">Upload an image:</label>
          <div class="custom-file">
            <input type="file" name="image" value="custom-file-input" id="image">
            <label for="image" class="custom-file-label">Select from device...</label>
          </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>
    </form>

    <br><br>
    <div class="center">


      {% if image %}
      <img src="data:image/jpeg;base64,{{ image }}" alt="Image">
      <br>
      <br>
      <h4>Reload page to generate another cloud for the same photo.</h4>
      {% endif %}
    </div>

  </div>


</div>



{% endblock %}
