{% extends "navbar.html" %}


{% block content %}
<div class="full-vwh background-enhancer center">
  <div class="padded-container">
<br><br>
    <h1 class="center-text">Photo Upload</h1>

    <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="upload-input">.png, .jpg, .jpeg</label>
        <input type="file" class="form-control-lg form-control-file" id="upload-input">
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>


    </form>

    <br><br>
    <div class="center">


      {% if image %}
      <img src="data:image/jpeg;base64,{{ image }}" alt="Image">
      {% endif %}
    </div>

  </div>


</div>



{% endblock %}
