<!doctype html>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="full-vwh background-enhancer center">
  <div id="forms-wrapper" class="forms-wrapper">

    <div class="form-container" id="login">
      <form action="{{url_for('login')}}" method="post">
        <div class="form-title">
          <h1>Log In</h1>
        </div>
        {% with messages = get_flashed_messages(category_filter=["login_flashes"]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {{ login_form.hidden_tag() }}
        {{ wtf.form_field(login_form.email) }}
        {{ wtf.form_field(login_form.password) }}
        {{ wtf.form_field(login_form.remember) }}
        <button id="login-btn" type="submit" class="btn btn-lg btn-blush btn-margin-20" name="login">Log In</button>
      </form>
    </div>

    <div class="form-container" id="signup">
      <form action="{{url_for('signup')}}" method="post">
        <div class="form-title">
          <h1>Sign Up</h1>
        </div>
        {% with messages = get_flashed_messages(category_filter=["signup_flashes"]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {{ signup_form.hidden_tag() }}
        {{ wtf.form_field(signup_form.username) }}
        {{ wtf.form_field(signup_form.email) }}
        {{ wtf.form_field(signup_form.password) }}

        <button id="signup-btn" type="submit" class="btn btn-lg btn-blush btn-margin-20" name="signUp">Sign Up</button>

      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Hello There!</h1>
          <p>Already have an account?</p>
          <button id="show-login" type="button" class="btn btn-light">Log In</button>
        </div>

        <div class="overlay-panel overlay-right">
          <h1>Welcome!</h1>
          <p>Don't have an account yet?</p>
          <button id="show-signUp" type="button" class="btn btn-light">Sign Up</button>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='js/index.js')}}"></script>

{% if show_signup %}
<script type="text/javascript">
  container.classList.add("right-panel-active");
</script>
{% endif %}
{% endblock %}
